.part1{
    background-color: #ffffff;
    width: 90%;
    text-align: center;
    position: relative;
    margin: 50px auto;
    line-height: 1.5;
}
.part2{
    width: 90%;
    text-align: center;
    position: relative;
    margin:  auto;
}
.part2 div{
    text-align: center;
    line-height: 140px;
    display: inline-block;
    width: 25%;
    margin: 25px;
    padding: 5px;
    background-color: #281b1b;
    color: #ffffff;
    height: 150px;
    width: 250px;
}
.part3{
    width: 90%;
    text-align: right;
    position: relative;
    lighting-color: chocolate;
}
.part3 a{
    color: chocolate;
    text-decoration: none;
}
#hr1{
    width: 85%;
    margin: 50px auto;
}
/* ------------------------------------- */
.part4{
/*     background-color: #1970a6; */
    width: 90%; 
    height: 600px;
    margin-left: 5%;
    text-align: center;
    position: relative;
    display: inline-block;
}
.parent{
/*     background-color: aquamarine; */
    width: 20%;
    position: relative;
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;
    text-align: right;
}
.child{
color: #ffffff;
text-align: center;
background-color: rgb(52, 27, 10);
line-height: 55px;
width: 60px;
height: 60px;
right: 0%;
display: inline-block;
position: relative;
}
h1{
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    /* background-color: blue; */
    padding: px;
    margin: 0;
    display: inline-block;
}
p{
    text-align: left;
    font-size: 20px;
    word-spacing: 5px;
    color: rgb(28, 13, 2);
    /* background-color: blue; */
    padding: 10px;
    margin: 0;
    display: inline-block;
}
a{
    font-weight: 100;
    color: chocolate;
    text-decoration: none;

}
.end{ background-color: #4e4c4c;
width: 100%;
height: 80px;
}
#right{
    word-spacing: 3px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #ffffff;
    float: right;
    margin-right: 150px;
    margin-top: 30px;
}
#left{
    word-spacing: 3px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #ffffff;
    float: left;
    margin-left: 150px;
    margin-top: 30px;
}
